$type-light: DIN Next W01 Light;
$type-light-italic: DINNextW01-LightItalic ;
$type-regular: DIN Next W01 Regular ;
$type-regular-italic: DIN Next W01 Italic ;
$type-medium: DIN Next W01 Medium ;
$type-medium-italic: DINNextW01-MediumItalic ;
$type-bold: DIN Next W01 Bold ;
$type-bold-italic: DINNextW01-BoldItalic ;
$type-heavy: DIN Next W01 Heavy ;
$type-heavy-italic: DINNextW01-HeavyItalic ;
$type-black: DIN Next W01 Black ;
$type-black-italic: DINNextW01-BlackItalic ;
