$red: rgb(255, 102, 0);
$blue: rgb(39, 169, 225);	
$orange: rgb(255, 182, 27); //$orange is strong orange-yellow
$white: rgb(250,250,250);
$gray-light: rgba(225,225,225, .5);
$gray: rgba(0,0,0,.3);

$main: $orange;
$white-50: rgba(250,250,250,.5);