.is-font-bold{
  font-family: $type-bold;
}
.is-font-medium{
  font-family: $type-medium;
}
.is-font-light{
  font-family: $type-light;
}
.is-font-black{
  font-family: $type-black;
}
.is-text-centered{
  text-align: center;
}
.visible-50{
  opacity: .50;
}

.is-text-big{
  font-size: 15rem;
}
