.row
  #mc_embed_signup
    %form#mc-embedded-subscribe-form.validate.general-email-form{:action => "http://facundoelement.us2.list-manage.com/subscribe/post?u=3de55524557b0c6ca0b410f49&amp;id=9ddac7376d", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
      .small-12.columns
        .mc-field-group
          %label{:for => "mce-EMAIL"}
          %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "Email"}

        #mce-responses.clear
          #mce-error-response.response{:style => "display:none"}
          #mce-success-response.response{:style => "display:none"}
      .small-12.columns.is-text__centered
        %input#mc-embedded-subscribe.button.radius{:name => "subscribe", :type => "submit", :value => "Join Us Today!"}