// NAV----------------------//
.contain-to-grid.nav-fixed
  %nav.top-bar.now.moveDown.nav-spread{"data-options" => "is_hover:false"}
    %ul.title-area
      %li#nav-logo.name
        %h1
          = link_to 'Facundo Element', '/'
        .button
          Hello

      %li.toggle-topbar.menu-icon
        %a{:href => "#"} Menu
    %section.top-bar-section
      %ul.right 
        %li 
          = link_to 'Projects', '/projects.html'
        %li 
          = link_to 'What We Do', '/about.html'
        %li.block-donate
          = link_to 'Donate Today', '/donate.html'
      