// NAV----------------------//
.contain-to-grid.now.moveDown
  %nav.top-bar{"data-options" => "is_hover:false"}
    %ul.title-area
      %li#nav-logo.name
        %h1
          %a{:href => "#"} Facundo Element
      %li.toggle-topbar.menu-icon
        %a{:href => "#"} Menu
    %section.top-bar-section
      %ul.right 
        %li 
          %a{:href => "#"} Projects
        %li 
          %a{:href => "#"} What We Do
        %li 
          %a{:href => "#"} Transform
        