.row
  .small-12.large-6.large-centered.columns
    .twitter-box
      <a class="twitter-timeline" href="https://twitter.com/FacundoElement" data-widget-id="376040496235167744">Tweets by @FacundoElement</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


  .small-12.columns
    %blockquote Interact with us.
    .row
      .small-3.columns.is-text__centered
        %h2
          %a.icon-facebook{:href => "http://facebook.com/facundo.element"}
      .small-3.columns.is-text__centered
        %h2
          %a.icon-twitter{:href => "https://twitter.com/FacundoElement"} 
      .small-3.columns.is-text__centered
        %h2
          %a.icon-youtube{:href => "http://www.youtube.com/user/FacundoElement/videos"} 
      .small-3.columns.is-text__centered
        %h2
          %a.icon-email{:href => "mailto:facundoelement@gmail.com"} 