.row
  .small-12.columns
    <blockquote class="twitter-tweet"><p>Four more years. <a href="http://t.co/bAJE6Vom">pic.twitter.com/bAJE6Vom</a></p>&mdash; Barack Obama (@BarackObama) <a href="https://twitter.com/BarackObama/statuses/266031293945503744">November 7, 2012</a></blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>