!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    = stylesheet_link_tag "normalize", "app"
    %title Facundo Element
  %body{:class => page_classes}
    .kitchensink
      = yield
      = partial 'layouts/scripts'
      = partial 'layouts/nav'