= wrap_layout :layout do
  .row
    .small-12.columns
      %h1.block-border
        = current_page.data.statement
    
      %h2 Check out some of Facundo Element's recent and ongoing projects. 

  = partial 'layouts/cards'
  = yield

  .section.section-background__textured
    .row
      .small-12.columns
        :markdown
          All of our projects happen through donations. If you'd like to see some of these projects reach to fruition, donate or contact us and ask how to contribute. The best way to start is to sign up. 
      
      =partial 'layouts/mailchimp'

