.block-quote{
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  background: $orange;
  h2,p,blockquote{
    margin-top: 0;
    margin-bottom: 0;
  }

  h2{
    position: absolute;
    top: -7rem;
  }

  .flex-video{
    margin-top: 3rem;
  }
}
