.cards, .cards > * {
   @include transition(all .3s 0);
}

.cards{
	border-radius: $global-radius;
	border: 1px $gray-light solid;
  overflow: hidden;
  margin-bottom: 1rem;
  height: 10rem;

  @media #{$small}{
    height: 7rem;
  }
  

  .cards__title, .cards__summary{
    color: $white;
    @extend .is-text__shadowed;
    @extend .is-text__centered;
  }

  .cards__title-wrapper{
    position: relative;
    top: 1rem;
  }
}

#cards__bg{
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat;
}


