.cards, .cards > * {
   @include transition(all .3s 0);
}

.cards{
	@include panel(#fff, 2em, true);
	border-radius: $global-radius;
	border: 1px $gray-light solid;
  overflow: hidden;
  padding-top: 3em;
  padding-bottom: 6em;
  height: 30rem;
  margin-bottom: 6em;

 /* .cards__summary{
    @include translateY(-25rem);
    display: inline-block;
    padding: 1em;
  }

  &:hover{  
    //@include translateY(-.5em);
    //background-position: -2em;

    .cards__title{
      @include translateY(15rem);
    }
    
    .cards__summary{
      @include translate3d(0, -10rem);
      background: $red;
    }

  }
  */

  .cards__title, .cards__summary{
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
    color: #fff;
  }
}

#cards__bg{
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat;
  background: $red;

  /*&:hover{
    background-position: 0 -4em !important; 
  }*/
}


