.row-introtext{
	background: image-url('diagmonds.png') center center, $gray;
	min-height: 95vh;
	border-bottom: $orange 1em solid;

}

.intro-text-hero{
	@include transition-delay(1s)
}

.intro-text-message{
	@include transition-delay(2s);
	color: $white;
}

.intro-video{
	@include transition-delay(3.5s);
}

.intro-email{
	@include transition-delay(4s);
}