

.block-introtext{
  @extend .block__splash;
  
}

.introtext__splash{
    position: relative;
    bottom: -60vh;
}

.introtext__first-line{
  color: $white;
}
.introtext__second-line{
  border-bottom: none;
  color: rgba(255,255,255,.5); 
  position: relative;
  top: -7rem;
}
.intro-text-message{
	//@include transition-delay(2s);
	color: $main;
}

.intro-video{
	//@include transition-delay(3.5s);
}

.intro-email{
	//@include transition-delay(4s);
  position: relative;
  top: -12rem;
}