.is{
  &.hero{

  	font-size: 3rem;
  	margin: 5rem 0;
    color: $main;

  	@media #{$small}{
    	font-size: 5rem;
	}


  }

  &.display{
    font-family: $type-bold;
  }

  &.centered{
    text-align: center;
  }
}