.is{
  &.hero{

  	font-size: 3rem;
  	margin: 5rem 0;
    color: $white;
    line-height: 1.2em;
  	@media #{$small}{
    	font-size: 16rem;
	}


  }

  &.display{
    font-family: $type-bold;
  }

  &.centered{
    text-align: center;
  }

  &.semi-bold{
    font-family: $type-medium;
  }
  &.visible-50{
    opacity: .50;
  }
}