#nav-logo{
	background: image-url('logo_tilted.svg') no-repeat .5em;
	background-size: 50px 100%;
	padding-left: 0em;

  h1{
    text-align: left;
    border-bottom: none;
    font-family: $type-ultralight;
  }

	a{
    white-space: nowrap;
		padding-left: 3rem;

    @media #{$small}{
      padding-left: 1.8rem;
    }

    @media #{$large}{
      padding-left: 1.4rem;
    }

	}

  &:hover{
    @include transition;
    transform: rotateZ(-.3em);
  }
}

nav{
  a{
    text-decoration: none;
  
    &:hover{
      color: $orange !important;
    }
  }
}
.nav-fixed{
  position: fixed;
  bottom: 0;
}

.nav-links__override a{
  font-size: 1rem !important;

  @media #{$small}{
    font-size: .6rem !important;
  }
}

.nav-menu-icon__override{
  text-indent: 0rem !important; 

  @media #{$small}{
    text-indent: -1.7rem !important;
  }
}

.nav-title-area__override{
  padding: 0 0.4rem !important;

  @media #{$small}{
    padding: 0 1rem !important;
  }

}