.logo-as-background{
  background: image-url('logo_tilted.svg') no-repeat center center;
  background-size: contain;
}

.nav__fixed{
  position: fixed;
  bottom: 0;
  z-index: 999;

}

.nav__box{
  width:  2rem;
  height: 2rem;
  background: $gray-dark;
  margin: 0 0 .4rem .4rem;
  border-radius: .2rem;
  box-shadow: 0 .1rem .1rem rgba(0,0,0,.3);

  position: absolute;
  top: 1.9rem; 
  right: -3rem;
  
  z-index: 10;

  @media #{$small}{
    margin: 0 0 .6rem .6rem;
  }

  &:before{
    content: "";
    position: absolute;
    left: -1rem;
    height: 2rem;
    width: 2rem;
  }
}

.nav__logo{
  @extend .logo-as-background;
  height: 100%;
  width: 100%;
} 

.nav__menu{
  background: $gray-dark;
  height: 100vh;
  position: relative;
  z-index: 5;
  width: 8rem;
 ; overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.nav__menu-title{
  color: $white;
  padding-left: 1rem;
  padding-top: 1rem;
}
.nav__menu-list{
  padding: 0;
  margin: 0;

  a{
    @extend .nav__menu-links;
    color: $orange;
    font-family: $type-light;
  }

  li{
    list-style: none;
  }
}

.nav__menu-links{
  padding-left: 1rem;
  width: 8rem;
  display: block;
  border-bottom: none;
}

/// ANIMATIONS /////////////

.nav__fixed,
.nav__fixed> *,
.nav__fixed *     {
  @include transition(.5s all 0s);
}

.j-section-nav{
  @include transform(translateX(-8.2rem));
  
  &.reveal{
    @include transform(translateX(0rem));
  }
}

.nav__box:hover{
  @include transform(translateX(.5rem));
}

.j-section-nav.reveal{

  .nav__box:hover{
    @include transform(translate(-.5rem));
  }
  
}


/*
#nav-logo{
  @extend .logo-as-background;
	background-position: .5em;
	background-size: 50px 100%;
	padding-left: 0em;

  h1{
    text-align: left;
    border-bottom: none;
    font-family: $type-ultralight;
  }

	a{
    white-space: nowrap;
		padding-left: 3rem;

    @media #{$small}{
      padding-left: 1.8rem;
    }

    @media #{$large}{
      padding-left: 1.4rem;
    }

	}

  &:hover{
    @include transition;
    transform: rotateZ(-.3em);
  }
}

nav{
  a{
    text-decoration: none;
    border: none;
  
    &:hover{
      color: $orange !important;
    }
  }
}
.nav-fixed{
  position: fixed;
  bottom: 0;
  z-index: 99999;
}

.nav-links__override a{
  font-size: 1rem !important;

  @media #{$small}{
    font-size: .6rem !important;
  }
}

.nav-menu-icon__override{
  text-indent: 0rem !important; 

  @media #{$small}{
    text-indent: -1.7rem !important;
  }
}

.nav-title-area__override{
  padding: 0 0.4rem !important;

  @media #{$small}{
    padding: 0 1rem !important;
  }

}
*/