#nav-logo{
	background: image-url('logo_tilted.svg') no-repeat .5em;
	background-size: 50px 100%;
	padding-left: 1em;

	a{
		padding-left: 3em;
	}

  &:hover{
    @include transition;
    transform: rotateZ(-.3em);
  }
}

nav{
  a{
    text-decoration: none;
  
    &:hover{
      color: $orange !important;
    }
  }
}
.nav-fixed{
  position: fixed;
  bottom: 0;
}

.nav-links__override a{
  font-size: 1rem !important;

  @media #{$small}{
    font-size: .6rem !important;
  }
}

.nav-menu-icon__override{
  text-indent: 0rem !important; 

  @media #{$small}{
    text-indent: -1.7rem !important;
  }
}