.projectsingle__splash{
  @extend .block__splash;

  h1{
    @extend .splash__text;
    position: relative;
    bottom: -60vh;
  }
}

.projectsingle__title{
    color: $white;
}

.projectsingle__summary{
  @extend .splash__summary;
  margin-top: 0;
  @extend .is-text__centered;
}