.projectsingle__splash{
  @extend .block__splash;
  position: relative;
  h1{
    border-bottom: none;
    top: 20rem;
    position: relative;
  }
}
.projectsingle__title{
    color: $white;
}

.projectsingle__summary{
  @extend .splash__summary;
  margin-top: 0;
  @extend .is-text__centered;
  position: relative;
  top: -8rem;
}