.section-background__orange{
  background: $orange;
}

.section-background__graylight{
  background: $gray-light;
}

.section-background__textured{
  background: image-url('bg-opacity.png') repeat, $gray-light;
}