.soul-signatures__box{
  &.main{
    @media #{$small}{
      display: none;
    }
  }

  &.secondary{
    display: none;

    @media #{$small}{
      display: block;
      padding-top: .5rem;
    }

    @media #{$large}{
      display: block;
      padding-top: .8rem;
    }
  }
}

.soul-signatures__box.secondary + div{
  @media #{$small}{
    padding: 0.4rem !important;
  }
}

.soul-signatures__signed{
  height: 1.4rem;
  background-size: contain !important;
  background-position: center center !important;
}

.soul-signatures__name{
    text-align: center;
}


.soul-signature__alison{
  background: image-url('soul/signatures/alison-01.png') no-repeat;
}

.soul-signature__ryan{
  background: image-url('soul/signatures/ryan-02.png') no-repeat;

}


.soul-signature__kenya{
  background: image-url('soul/signatures/kenya-03.png') no-repeat;

}

.soul-signatures__staffimage{
  background: image-url('soul/staff-optim.jpg') top center no-repeat;
  background-size: cover;
  height: 15rem;

  @media #{$large}{
    height: 18rem;
    max-width: 80vw;
    margin: 0 auto; 
  }
}

.section-designed-by{
  background: image-url('sethgorelogo.svg') no-repeat 15rem allcenter;
  background-size: contain;
  margin-top: .3rem;
  margin-top: .3rem;
}