.block__splash{
	background: image-url('photo-optim/thinktank-7.jpg') center center, $gray;
	background-position: center;
  min-height: 110vh;
	//border-bottom: $orange 1em solid;
  background-size: cover !important;
}

.splash__text{
	@include transition-delay(1s);

  &:first-child{
    @extend block-border;
  }
}

.splash__summary{
  background: $main;
  padding: 5rem;
}

.intro-text-message{
	@include transition-delay(2s);
	color: $main;
}

.intro-video{
	@include transition-delay(3.5s);
}

.intro-email{
	@include transition-delay(4s);
}