h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  @extend .is-font__medium;
}

h1{
  font-size: 15rem; 
  @extend .is-text__centered;
  @extend .block-border;
}

h2{
  font-size: 8rem;
}

h3{
  font-size: 68px;
}

h4{
  font-size: 42px;
}

h5{
  font-size: 33px;
}

h6{
  font-size: 20px;
}