html,body{
    
    font-size: 150%;

 @media #{$small}{
    font-size: 250%;
  }

  /*@media #{$medium}{
    font-size: 300%;
  }*/

  @media #{$large}{
    font-size: 290%;
  }
}

p{
  font-size: 1rem;
  line-height: 1.42em;
  font-family: Cardo, Georgia, serif;

  @media #{$medium}{
    font-size: .8rem;
  }
}

blockquote{
  font-size: 1.2rem;
  font-family: Cardo, Georgia, serif;
  line-height: 1.42em;
  margin: 1rem 0;
  text-align: left;

  @media #{$small}{
    margin: 1rem -1.5rem;
    text-align: center;
  }



  p{
    font-size: inherit;
  }
}


h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  @extend .is-font__medium;
}

h1{
    font-size: 2.7rem; 
    @extend .is-text__centered;
    @extend .block-border;
    padding-bottom: 1rem;
}

h2{
  font-size: 1.7rem;
}

h3{
  font-size: 1.1rem;
}

h4{
  font-size: .68rem;
}

h5{
  font-size: .5rem;
  color: $gray;
}

h6{
  font-size: .5rem;
  color: $white;
}

hr{
  border: solid 1px $orange;
  margin: 0;
}