%section.block-blank
  %h1 BLANK     
%section.block-above-blank
  %h1 
    NOT BLANK
  %p 
    Testing testing testing testing testing
    Testing testing testing testing testing
  %h1 
    NOT BLANK
  %p 
    Testing testing testing testing testing
    Testing testing testing testing testing
  %h1 
    NOT BLANK
  %p 
    Testing testing testing testing testing
    Testing testing testing testing testing