.section-background__gray-dark
  .section.dedication__background
    .row
      .small-12.columns
  .section
    .row
      .small-12.columns
        .dedication__text
          :markdown
            # DEDICATION

          :markdown
            Our organization is named after one of the most extraordinary beings to walk the path of activism: Facundo Montenegro. A filmmaker and activist, Facundo taught us about the power of telling our stories in order to influence change. We remember him through our work. 

            You are missed. But your element lives on.

          %h3.is-text__centered
            March 19, 1966  to December 12, 2005