.section-background__gray-dark
  .section.dedication__background
    .row
      .small-12.columns
  .section
    .row
      .small-12.columns
        .dedication__text
          :markdown
            # DEDICATION
            > The company is named after one of the most extraordinary activists to walk the path: Facundo Montenegro

            Facundo Montenegro will be dearly missed...