.row
  .small-12.columns
    %h1 Supporting Us
  .small-12.columns
    :markdown

      > We can't put it any simpler than this: We need funds for our projects. Please give what you can, today! 

      > If you are interested in hosting a fundraiser, contact us. 