---
title: Welcome to Middleman
---

// INTRO TEXT
.row 
  .small-12.columns
    %h1.is.hero.display.centered CINEMACTIVISM.
    %h1 
      :markdown
        you already have an agent of change. it's in your pocket. understand how the **facundo element** will push forward your issue and bring forward change. 
// COMPANY MOTTO
.row
  .small-8.columns.small-centered
    %h1.panel.is.centered ACTIVISM + REASON

/ Begin MailChimp Signup Form
#mc_embed_signup.row
  %form#mc-embedded-subscribe-form.validate{:action => "http://facundoelement.us2.list-manage.com/subscribe/post?u=3de55524557b0c6ca0b410f49&amp;id=9ddac7376d", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    .mc-field-group.small-8.columns
      %label{:for => "mce-EMAIL"}
      %h2
        %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "Email"}
    #mce-responses.clear
      #mce-error-response.response{:style => "display:none"}
      #mce-success-response.response{:style => "display:none"}
    .small-4.columns
      %h3 
        %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Join Us Today!"}
/ End mc_embed_signup



// NAV----------------------//
.contain-to-grid
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          %a{:href => "#"}Facundo Element
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}  
// RECENT ACTS
.row
  .small-12.columns
    %h1.is.hero.display.centered RECENT ACTION 
  .row
    .small-12.large-4.columns
      %ul.pricing-table 
        .li.bullet-item 
          %h2 #actnow! We need change.
        .li.price 
          %h3 join us and walk!
        .li.bullet-item
          %h2 walk for ASL was a success!
        .li.price
          %h3 Latest One! 
    .small-12.large-8.columns
      %h1.is.hero.centered.panel VIDEO HERE  

// COMPANY DOINGS#probablyisgettingyourattn
.row
  .small-12.columns
    %h1.is.hero.display.centered WHAT WE HAVE DONE
  .small-12.columns
    %ul.small-block-grid-1.large-block-grid-3
      %li 
        %h2.panel Project Humanity
      %li 
        %h2.panel Walk for ASL
      %li 
        %h2.panel Butterfly Effect Series
      %li 
        %h2.panel Raising Interpreter Concerns
      %li 
        %h2.panel Future Project
      %li 
        %h2.panel Future Project
// WATCH & GROW
.row
  .small-10.columns.small-centered
    %h1.is.hero.display.centered WATCH & GROW
    %h3.is.centered Awaken the activist within you and others through videos & become a stronger leader. 
// WHAT WE DO 
.row
  .small-10.columns.small-centered
    %h1.is.hero.display.centered
      WHAT WE DO 

    %h1.is.display Documentation 
    %h3 
      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
    %h3
      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.

    %h1.is.display Conversations 
    %h3 
      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
    %h3
      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.

    %h1.is.display Training & Workshops
    %h3 
      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
    %h3
      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
// FOOTER
.row
  .small-3.columns
    %h4 Facundo Element
  .small-2.columns.small-offset-3
    %h5 Read Blog
  .small-2.columns
    %h5 Twitter
  .small-2.columns
    %h5 Facebook 