---
title: Index
---
// INTRO TEXT
%section.section-splash__box.block-introtext
  .row
    .small-12.columns
      .introtext__box
        .introtext__first-line
          %h1.introtext__title 
            CINEMA <span class="introtext__transparent">ACTIVISM </span>
          %h2.introtext__scroll-alert ⬇

%section.section-splash__padding-bottom
  .row#introduction
    .small-12.columns 
      %figure#about-logo   
      %h1 Facundo Element
      :markdown
        ##We do three things: We <a href="#we-do__train">train</a>. We <a href="#we-do__expose">expose</a>. We <a href="#we-do__organize">organize</a>. 

        ##We are activists. We will fight alongside you. We will learn from you and teach with you. We will show change through you. 

-#
  =partial 'layouts/mailchimp'

%section.we-do__train#we-do__train 
  .row
    
    .small-10.columns.small-centered
      :markdown
        # TRAIN

    -#
      .small-10.columns.small-centered.large-5
        .flex-video
          <iframe width="350" height="197" src="http://www.youtube.com/embed/VFAB9e48_pk" frameborder="0" allowfullscreen></iframe>

    .small-10.columns.small-centered
      :markdown
        >We provide training on a range of topics, from reframing to transforming Deaf education to anti-audism work. Our training style mostly involves hands on activities.

%section.we-do__expose#we-do__expose
  .row
    .small-10.columns.small-centered
      :markdown
        # EXPOSE 

    -#
      .small-10.columns.small-centered.large-5
        .flex-video
          <iframe width="350" height="197" src="http://www.youtube.com/embed/VFAB9e48_pk" frameborder="0" allowfullscreen></iframe>

    .small-10.columns.small-centered
      :markdown
        >There are few tools as powerful as mass media for shifting ideology. We utilize media as an activism tool: Cinemactivism.

%section.we-do__organize#we-do__organize 
  .row
    .small-10.columns.small-centered
      :markdown
        # ORGANIZE

    -#
      .small-10.columns.small-centered.large-5
        .flex-video
          <iframe width="350" height="197" src="http://www.youtube.com/embed/VFAB9e48_pk" frameborder="0" allowfullscreen></iframe>

    .small-10.columns.small-centered
      :markdown
        >We believe that change cannot happen without action. We are available to support your community in organizing for change.

.section.section-background__textured
  .row
    .small-10.columns.small-centered
      :markdown
        >The first step is ***action***. Take things in your hands through your inbox. Begin, restart, continue — whatever it takes — your journey here. 

  = partial "layouts/mailchimp"
