---
title: Index
---
// INTRO TEXT
%section.section-splash__box.block-introtext
  .row
    .small-12.columns
      %a{:href => "#introduction"}
        .introtext__box
          %h1.introtext__first-line 
            CINEMA <span class="introtext__transparent">ACTIVISM </span>
%section
  .row#introduction
    .small-12.columns 
      %figure#about-logo   
      %h1 Facundo Element
      :markdown
        ##We do three things, and three things best. We <a href="#">train</a>. We <a href="#">expose</a>. We <a href="#">organize</a>. 

        ##We are your portable activists - we will fight alongside you. We will teach with you. We will show change through you.

  .row
    #mc_embed_signup
      %form#mc-embedded-subscribe-form.validate.general-email-form{:action => "http://facundoelement.us2.list-manage.com/subscribe/post?u=3de55524557b0c6ca0b410f49&amp;id=9ddac7376d", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
        .small-12.columns
          .mc-field-group
            %label{:for => "mce-EMAIL"}
            %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "Email"}

          #mce-responses.clear
            #mce-error-response.response{:style => "display:none"}
            #mce-success-response.response{:style => "display:none"}
        .small-12.columns.is-text__centered
          %input#mc-embedded-subscribe.button.radius{:name => "subscribe", :type => "submit", :value => "Join Us Today!"}



-#
  .section.section-background__orange
    .row
      .small-12.columns
        %h2.is-text__centered 
          CHANGE WITH US. 
  
  .row
    #mc_embed_signup
      %form#mc-embedded-subscribe-form.validate.general-email-form{:action => "http://facundoelement.us2.list-manage.com/subscribe/post?u=3de55524557b0c6ca0b410f49&amp;id=9ddac7376d", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
        .small-12.columns
          .mc-field-group
            %label{:for => "mce-EMAIL"}
            %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "Email"}

          #mce-responses.clear
            #mce-error-response.response{:style => "display:none"}
            #mce-success-response.response{:style => "display:none"}
        .small-12.columns.is-text__centered
          %input#mc-embedded-subscribe.button.radius{:name => "subscribe", :type => "submit", :value => "Join Us Today!"}
