---
layout: kitchensink
---
%section.section-splash__box.block-introtext
  .row
    .small-12.columns
      %h1.is.hero.display.centered 
        %mark 
          Kitchen Sink
%section.content-color
  .row
    .small-12.columns
      %h1 Some Activist Title
      :markdown
        ##This is <mark>what we do</mark>. We have brought forward countless issues & helped many grassroot activists carry out their voice. 
      %h3 Service
      %h4 Revolutionary
      %h5 Legalese
      %h6 Bullshit link
    .small-12.columns
      %p Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell 
    %hr/ 
    .small-12.columns
      %blockquote  “We are in great haste to construct a magnetic telegraph from Maine to Texas. But Maine and Texas, it may be, have nothing important to communicate.” 

      %blockquote "There is by perchance the first news that will leak through into the broad, flapping American ear will be that the Princess Adelaide has the whooping cough.”
    %hr/ 
    .small-12.columns
      .button.tiny.disabled Donate
      .button.small.disabled Donate
      .button.secondary Donate
      .button.secondary Contact
      .button.radius.success Contact