---
layout: kitchensink
---
.row
  .small-12.columns
    %h1.is.hero.display.centered 
      %mark 
        Kitchen Sink
.row
  .small-12.columns
    %h1 Heading 1
    %h2 Heading 2
    %h3 Heading 3
    %h4 Heading 4
    %h5 Heading 5
    %h6 Heading 6
  .small-12.columns
    %h1.subheader SubHeading
    %h2.subheader SubHeading
    %h3.subheader SubHeading
    %h4.subheader SubHeading
    %h5.subheader SubHeading
    %h6.subheader SubHeading
  %hr/ 
  .small-12.columns
    %h1 Special headings
  .small-12.columns
    %h1.is.display.hero Hero & Display
    %h1.is.hero Hero
    %h1.is.display Display
  %hr/ 
  .small-12.columns 
    %h1 Default Text
  .small-12.columns
    %p Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell 
  %hr/ 
  .small-12.columns
    %h1 Breadcrumbs
  .small-12.columns
    %ul.breadcrumbs 
      %li
        %a{:href => "#"} Home
      %li
        %a{:href => "#"} Features
      %li.unavailable
        %a{:href => "#"} Gene Splicing
      %li.current
        %a{:href => "#"} Cloning
  %hr/ 
  .small-12.columns
    %h1 Buttons
    %p Time for Button Smashing!
  .small-12.columns
    .button.tiny .button.tiny
    .button.small .button.small
    .button.secondary .button
    .button.secondary .button.secondary
    .button.radius.success .button.radius.success
    .button.round.disabled .button.round.disabled
  %hr/ 
  .small-12.columns
    .h1.is.centered.display.hero BREAKING NEWS: YOU NEED TO QUIT USING METH & BLOATED FRAMEWORKS.
  .small-12.columns
    %h1 Boring Forms
    %p We need to save the world.
  .small-12.columns
    %form
      %fieldset
        %legend Meth Shopping Cart
        .row
          .large-12.columns
            %label Input Label
            %input{:placeholder => "large-12.columns", :type => "text"}/
        .row
          .columns
            %label Input Label
            %input{:placeholder => "large-4.columns", :type => "text"}/
          .columns
            %label Input Label
            %input{:placeholder => "large-4.columns", :type => "text"}/
          .columns
            .row.collapse
              %label Input Label
              .small-9.columns
                %input{:placeholder => "small-9.columns", :type => "text"}/
              .small-3.columns
                %span.postfix .com
        .row
          .large-12.columns
            %label Textarea Label
            %textarea{:placeholder => "small-12.columns"}

  .small-12.columns
    %h1 
      %blockquote But buddy, you have to stop using H1.is.display.hero.centered to do your blockquotes.

  .small-12.columns
  .small-12.columns

  .small-12.columns
  .small-12.columns

  .small-12.columns
  .small-12.columns

  .small-12.columns
  .small-12.columns

  .small-12.columns
  .small-12.columns

  .small-12.columns
  .small-12.columns

  .small-12.columns
  .small-12.columns

  .small-12.large-4.columns
  .small-12.columns

  .small-12.large-4.columns
  .small-12.columns

  .small-12.large-4.columns
  .small-12.columns

  .small-12.large-4.columns
  .small-12.large-8.columns

  .small-12.large-4.columns
  .small-12.large-8.columns

  .small-12.large-4.columns
  .small-12.large-8.columns



