---
title: What We Do
---


// FRESH OFF OUR KEYBOARDS
.row
  .small-10.large-12.columns.small-centered.large-uncentered 
    %h1.is.display.centered.intro-text-hero The Logo
    %h1.is 
      "Until one is committed, there is hesistancy, the chance to draw back—
    %h1.is
      Concerning all acts of initiative (and creation), there is one elementary truth that ignorance of which kills countless ideas and splendid plans :
    %h1.is
      That the moment one definitely commits oneself, then Providence moves too. All sorts of things occur to help one that would never otherwise have occurred. A whole stream of events issues from the decision, raising in one's favor all manner of unforeseen incidents and meetings and material assistance, which no man could have dreamed would have come his way.
    %h1.is
      Whatever you can do, or dream you can do, begin it. Boldness has genius, power, and magic in it. Begin it now."

      %h3 
        — Goethe