---
title: Projects
statement: "Change."
---
// WATCH & GROW

.row
  .small-10.columns.small-centered
    %h1.is.hero.display.centered WATCH & GROW
    %h3.is.centered Awaken the activist within you and others through videos & become a stronger leader. 