---
title: Projects
---
// COMPANY DOINGS#probablyisgettingyourattn
.row
  .small-12.columns
    %h1.is.display.hero Change.
    %h1 
      :markdown
        This is what we do. We have brought forward countless issues & helped many grassroot activists carry out their voice. 
  .small-12.columns.doing-cards
    %ul.small-block-grid-1.large-block-grid-2
      %li 
        %h2{"data-image-link" => "plains.jpg", "data-bg-color" => "#000"} Project Humanity
      %li 
        %h2 Walk for ASL
      %li 
        %h2 Butterfly Effect Series
      %li 
        %h2 Raising Interpreter Concerns
      %li 
        %h2 Future Project
      %li 
        %h2 Future Project
// WATCH & GROW

.row
  .small-10.columns.small-centered
    %h1.is.hero.display.centered WATCH & GROW
    %h3.is.centered Awaken the activist within you and others through videos & become a stronger leader. 