---
title: Projects
statement: "Projects"
---
// WATCH & GROW

.row
  .small-10.columns.small-centered
    :markdown
      ## Awaken the activist within you and others through videos & become a stronger leader. 