.section
  .row
    .small-6.large-5.columns.small-centered
      %figure#about-logo  
    .small-12.columns
      :markdown
        #Our Soul

        >**You**. You are our soul. You are what makes us breathe, stay awake in the darkness, and desire for a better today. 

        We seek for the day where the fire in you will be fed with all the fuel imaginable in the world and it will burn perpetually. We desire for you to be more awake than you have ever been yesterday and all days before. 

        We are here to bring change from the within. 

        We celebrate when we see the fire awakened within you. We cheer when you walk away with more burning desire than you have when you met us. We are humbled when you become better activists than we are, and you will — you already are. 

        We do not sleep because we have cameras and footage in our arms. We do not stop running because we will not allow today become tomorrow.

        This is <mark>what we do</mark>. This is ***Facundo Element***. We are here to do one thing and one thing only: change, change through cinemactivism. 

        >With all the love & passion, 

      %h3.is-text__centered  The Facundo Element Team

  .row
    .small-12
      
    .soul-signatures__box.main
     
      .small-4.columns
        .soul-signatures__signed.soul-signature__kenya
        %h5.soul-signatures__name Kenya Lowe
        
      .small-4.columns
        .soul-signatures__signed.soul-signature__alison
        %h5.soul-signatures__name Alison Aubrecht
        
      .small-4.columns
        .soul-signatures__signed.soul-signature__ryan
        %h5.soul-signatures__name Ryan Commerson

  .soul-signatures__staffimage 
    .row
      .soul-signatures__box.secondary
       
        .small-4.columns
          .soul-signatures__signed.soul-signature__kenya
          %h5.soul-signatures__name Kenya Lowe
          
        .small-4.columns
          .soul-signatures__signed.soul-signature__alison
          %h5.soul-signatures__name Alison Aubrecht
          
        .small-4.columns
          .soul-signatures__signed.soul-signature__ryan
          %h5.soul-signatures__name Ryan Commerson