.section
  .row
    .small-6.large-5.columns.small-centered
      %figure#about-logo  
    .small-12.columns
      :markdown
        #Our Soul

        >**You**. You are our soul. You are what makes us breathe, stay awake in the darkness, and search for a better today for all of us.  

        We bring change from within. 

        This is what we do. This is the ***Facundo Element***. We believe that change is not only possible, it is inevitable. And you contribute to that change through your stories and your actions. 

        This is cinemactivism. 

        >With all our love and passion, 

      %h3.is-text__centered  The Facundo Element Team

  .row
    .small-12
      
    .soul-signatures__box.main
     
      .small-4.columns
        .soul-signatures__signed.soul-signature__kenya
        %h5.soul-signatures__name Kenya Lowe
        
      .small-4.columns
        .soul-signatures__signed.soul-signature__alison
        %h5.soul-signatures__name Alison Aubrecht
        
      .small-4.columns
        .soul-signatures__signed.soul-signature__ryan
        %h5.soul-signatures__name Ryan Commerson

  .soul-signatures__staffimage 
    .row
      .soul-signatures__box.secondary
       
        .small-4.columns
          .soul-signatures__signed.soul-signature__kenya
          %h5.soul-signatures__name Kenya Lowe
          
        .small-4.columns
          .soul-signatures__signed.soul-signature__alison
          %h5.soul-signatures__name Alison Aubrecht
          
        .small-4.columns
          .soul-signatures__signed.soul-signature__ryan
          %h5.soul-signatures__name Ryan Commerson

  .row
    .small-12.columns
      :markdown
        And, did you know you can join us and have your name up here? Yes, you <a href="mailto:facundoelement@gmail.com">can</a>.

        Can you imagine your face up here, with us? <a href="mailto:facundoelement@gmail.com">We can</a>, too. 

        <a href="http://twitter.com/@_sethjgore">Seth</a> did. And know what? He's responsible for this website. Join us today!  
    
    = partial "layouts/mailchimp"
-#
  %section.section-background__textured
    .row.section-designed-by
      .small-12.columns
        :markdown
          ####Website Branded & Designed by